

<% var bodyContent = `
<section class="about">
    <h1>About Me</h1>
    <div class="passport-photo">
        <img src="/images/Kannan.jpg" alt="Photo">
    </div>
    <p>
        Hi, I'm Kannan.
    </p>
    <p>
        I'm a passionate web developer with expertise in Express js, Node js, HTML, CSS.
        I am a highly skilled and passionate web developer with a proven track record in designing and 
        implementing innovative web solutions. With a strong foundation in front-end and back-end development, 
        I bring creativity and technical expertise to every project I undertake.
    </p>

    <!-- Add a link to  resume PDF file -->
    <p><a href="/resume.pdf" target="_blank">Download My Resume (PDF)</a></p>
</section>
` %>

<%- include('./layouts/layout', { body: bodyContent }) %>
